.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
.up{
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
}
